<!-- NAVBAR -->
<nav  class="navbar navbar-inverse transparent" style="opacity:0.4">
  <a class="navbar-brand" routerLink="/home"><img class="movie-logo" src="../../assets/home_images/logo2.png"></a>
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li [className]="router.url === '/home' ? 'active1': ''" >
          <a routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li [className]="router.url === '/about' ? 'active1': ''">
          <a routerLink="/about" >About</a>
        </li>
        <li [className]="router.url === '/moods' ? 'active1': ''">
          <a routerLink="/moods/">Moods</a>
        </li>
        <li class="dropdown" [className]="router.url === '/movies' ? 'active1': ''">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Movies <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/movies">All Movies</a></li>
            <li><a routerLink="/top-imdb">Top 20 from IMDB</a></li>
            <li><a routerLink="/top20">Top 20 from Users</a></li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="/movie-lists">Users' Movie Lists</a></li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="/actors">Actors</a></li>
            <li><a routerLink="/directors">Directors</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="auth.isLoggedIn === true" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"> {{ auth.username }} </span></a>
          <ul class="dropdown-menu">
            <li><a (click)="auth.logout(true); router.navigate(['/login'])">Logout</a></li>
            <li><a (click)="getProfile(true)">Your Profile</a></li>
          </ul>
        </li>
        <li *ngIf="auth.isLoggedIn === false">
          <a routerLink="/login"><span class="glyphicon glyphicon-user"> Login </span></a>
        </li>
        <li *ngIf="auth.isLoggedIn === false">
          <a routerLink="/register"><span> Register </span></a>
        </li>
        <app-movie-search></app-movie-search>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  <!-- NAVBAR END-->
</nav>

<div class="profile" *ngIf="profile">
  <app-profile></app-profile><br>
  <button (click)="getProfile(false)" style="position: absolute; margin-top:600px; margin-left:100px; ">Close Profile</button>

</div>




