<app-navbar></app-navbar>
<div class=container>
  <br><br>
  <div class="mood_header">
    <h1> What mood you wanna get by watching a movie??</h1>
    <h3>Select from our list to find a movie related to that mood</h3>
  </div>
  <div class="mood-container">
    <h2>Mood List</h2>
    <span style="text-align: center; margin: auto; display: block">Page</span>
    <br>
    <pagination-controls class="my-pagination" previousLabel="Prev" (pageChange)="p1 = $event" id="first"></pagination-controls>
    <div id="{{j.toString()+'a'}}" (mouseenter)="getBackImage(j+'a', mood.back_image)" (mouseleave)="delBackImage(j+'a')" class="mood" *ngFor="let mood of moods | paginate: { itemsPerPage: 5, currentPage: p1, id: 'first' }; let j = index;" [attr.data-index]="j">
      <hr>
      <img routerLink="/moods/{{mood.id}}" class="mood_image" [attr.src]="mood.image">
      <span class="mood_name" routerLink="/moods/{{ mood.id }}">
        {{ mood.mood }}
      </span>
      <div class="mood_description">
        {{ mood.description }}
      </div>
      <span class="num-of-movies">Total number of movies having that mood: <strong>{{ mood.movies.length }}</strong></span>
      <div class="mood_movies_container">
        <div  *ngFor="let movie of mood.movies | paginate: { itemsPerPage: 6, currentPage: p[j], id: j }; let i = index" [attr.data-index]="i" class="mood_movies">
         <img routerLink="/movies/{{movie.id}}" *ngIf="movie.logo != null" [attr.src]="movie.logo" class="movie_image">
          <div class="movie_info">
            <h4>{{ movie.title }}</h4>
            <br>
            Year Published: <strong>{{ movie.pub_year }}</strong>
            <br>
            Duration <strong>{{ movie.duration }} mins </strong>
            <br>
            Director: <strong *ngFor="let dir of movie.director_details; let b=index">{{dir.name + ' ' + dir.l_name}}<span *ngIf="movie.director_details.length - 1 != b">, </span></strong>
            <br>
            Genre: <strong *ngFor="let genre of movie.genre_details; let b=index">{{genre.genre}}<span *ngIf="movie.genre_details.length - 1 != b">, </span></strong>
            <br>
            Mood: <strong style="cursor:pointer" routerLink="/moods/{{mood.id}}" *ngFor="let mood of movie.mood_details; let b=index">{{mood.mood}}<span *ngIf="movie.mood_details.length - 1 != b">, </span></strong>
            <br>
            Description: <br>
            <div class="movie-description">
              <strong>{{ movie.description }}</strong>
            </div>
          </div>
          <br *ngIf="i === 2"><br *ngIf="i === 2">
        </div>
        <div style=" margin-top:15px; margin-right: 60px; margin-bottom:50px; font-size:10px;">
          <pagination-controls  [maxSize]="5" previousLabel="" nextLabel="" class="my-pagination" *ngIf="mood.movies.length > 4" style="text-align: center" (pageChange)="p[j] = $event" [id]="j">
          </pagination-controls>
        </div>
      </div>
      <hr>
    </div>
    <span style="text-align: center; margin: auto; display: block">Page</span>
    <br>
    <pagination-controls class="my-pagination" previousLabel="Prev" (pageChange)="p1 = $event" id="first"></pagination-controls>
  </div>
</div>
<app-footer></app-footer>






