<app-navbar></app-navbar>
<div *ngIf="movie" class=container>
  <div class="movie-container">
    <h1>{{ movie.title }} ({{ movie.pub_year }}) - {{ movie.duration }} mins</h1>
    <h3
      style="margin-bottom: 50px">Director: <a routerLink="/directors/{{movie.director}}">{{ movie.director_details[0].name + ' ' + movie.director_details[0].l_name }}</a> <span class="movie_country">Country: {{ movie.country }} </span>
      <button *ngIf="user" (click)="userRate(true)">Rate this movie</button>
      <span style="margin-left: 30px; font-size: 14px" *ngIf="!user">You can rate this movie by <a routerLink="/login">logging in</a></span>
      <div class="user-rate" *ngIf="this.userRatee">
        <button (click)="userRate(false)">Close</button>
        <br><br>
        <h5>Rate {{ movie.title }}</h5>
        <div class="col-sm-5 rating-options-container">
          <select class="form-control rating-options" #ratinge>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </div>
        <button  class="rate-button" type="submit" (click)="userRates(movie.id, user[0].id, +ratinge.value);">Rate Now</button>
        <p style="color:white" *ngFor="let mess of messageService.messages">{{ mess }}</p>
        <p style="color:white" *ngIf="res">You have rated this movie successfully!</p>
      </div>
    </h3>
    <h4 *ngIf="movie.mood_details">Mood:
      <span *ngFor="let mood of movie.mood_details"><span>
        <a routerLink="/moods/{{ mood.id }}"> {{ mood.mood}} </a></span>&nbsp;&nbsp;&nbsp;&nbsp;
      </span>
      <span style="float:right">Genre:
        <span *ngFor="let genre of movie.genre_details">
          <span routerLink="/genres">{{genre.genre}}&nbsp;&nbsp;</span>
        </span>
      </span>
    </h4>
    <img class="logoImage" [attr.src]="movie.logo">
    <iframe class="trailer"  frameBorder="0" scrolling="no" [src]="getUrl()">
    </iframe>
    <br>
    <div class="rating">
      IMDB Rating<br>{{ movie.imdb_score }}
      <hr>
      Uers Rating<br>{{movie.ratings[0] }}<br><span style="font-size:70%; opacity:0.7">by {{movie.ratings[1]}} Users</span>
    </div>
    <br>
    <br>
    <h4>Duration</h4>
    <strong>{{ movie.strDuration }} </strong>
    <br><br>
    <h3>Plot</h3>
    <div class="movie_desc">
      <p>{{ movie.description }}</p>

    </div>

    <br><br><hr>
    <h3>Casting:</h3>
    <div class="movie_desc">
      <span class="actor" *ngFor="let actor_data of movie.actor_details; let i = index" [attr.data-index]='i' style="font-size:110%">
        <span *ngIf="i!==0">, </span><a routerLink="/actors/{{ actor_data.idActor }}">{{actor_data.name}} {{actor_data.last_name}}</a>
        <img class="actor-image" [attr.src]="actor_data.image">
      </span>

    </div>
    <br><br><br>
    <h3>Reviews</h3><hr>

    <ng-container *ngIf="movie.reviews.length != 0; else noreviews">
      <span style="text-align: center; margin: auto; display: block">Page</span>
      <br>
      <pagination-controls class="my-pagination" previousLabel="Prev" (pageChange)="p1 = $event" id="first"></pagination-controls>
      <div class="movie-review" *ngFor="let review of movie.reviews | paginate: { itemsPerPage: 5, currentPage: p1, id: 'first' }; let b = index" [attr.data-index]='b'>

        <h5 class="review-creator">
          <span class="review-username">{{review.user_details['username']}}</span> reviewed this movie
          <progress class="progress-cus-bar" value="{{ getLikesNum(review.likes[0].positive_likes, review.likes[1].total_likes) }}" max="100">50
          </progress>
          <span class="likes">
            {{getLikes(review.likes[0].positive_likes, review.likes[1].total_likes)}}
            <span *ngIf="review.likes[1].total_likes != 0">from {{review.likes[1].total_likes}} user<span *ngIf="review.likes[1].total_likes != 1">s</span>
            </span>
          </span>
        </h5>
        <br>
        <h4>Title: <strong>{{ review.title }}</strong></h4>
        <p></p>
        <h4>Content</h4>
        <div class="review-content">
          {{review.content}}
        </div>
        <p class="date_posted">Posted {{review.created.substring(0,10)}} &nbsp; Time {{review.created.substring(11,19)}}</p>
        <div class="like-butt" *ngIf="user">

          <ng-container *ngFor="let userL of review.users_liked">
            <div *ngIf="userL.user == user[0].id">
              <div *ngIf="userL.like == true; else dislikeContent">
                <img class="like-button" src="../../assets/movie-detail/like%20green.png" (click)="deleteLikeReview(userL)">
                <span class="num-likes">
                  {{ review.likes[0].positive_likes }}
                </span>
                <img class="dislike-button" src="../../assets/movie-detail/dislike%20gray.png" (click)="updateLikeReview(userL, false)">
                <span class="num-dislikes">
                  {{ review.likes[1].total_likes - review.likes[0].positive_likes }}
                </span>
              </div>
              <ng-template #dislikeContent>
                <div>
                  <img class="like-button" src="../../assets/movie-detail/like%20gray.png"  (click)="updateLikeReview(userL, true)">
                  <span class="num-likes">
                    {{ review.likes[0].positive_likes }}
                  </span>
                  <img class="dislike-button" src="../../assets/movie-detail/dislike%20red.png" (click)="deleteLikeReview(userL)">
                  <span class="num-dislikes">
                  {{ review.likes[1].total_likes - review.likes[0].positive_likes }}
                </span>
                </div>
              </ng-template>
            </div>

          </ng-container>
          <div *ngIf="!this.reviewLikeForCheck.includes(review.idReview)">
            <img class="like-button" src="../../assets/movie-detail/like%20gray.png" (click)="likeReview(true, user[0].id, review.idReview)">
                <span class="num-likes">
                  {{ review.likes[0].positive_likes }}
                </span>
                <img class="dislike-button" src="../../assets/movie-detail/dislike%20gray.png" (click)="likeReview(false, user[0].id, review.idReview)">
                <span class="num-dislikes">
                  {{ review.likes[1].total_likes - review.likes[0].positive_likes }}
                </span>
          </div>




        </div>
        <div class="delete-review" *ngIf="user">
          <button class="btn btn-warning" *ngIf="review.user_details['id'] === user[0].id" (click)="confirmDeleteReview(review)">Delete</button>
        </div>
        <div class="delete-cont" *ngIf="reviewToDelete">
          Are you sure you want to delete your review:
          <br>
          {{ reviewToDelete.title }}
          <br><br>
          <button class="confirm-del-button" (click)="deleteReview(reviewToDelete)">Yes</button> <button class="confirm-del-button" (click)="confirmDeleteReview(null)">No</button>
        </div>
      </div>
      <span style="text-align: center; margin: auto; display: block">Page</span>
      <br>
      <pagination-controls class="my-pagination" previousLabel="Prev" (pageChange)="p1 = $event" id="first"></pagination-controls>
    </ng-container>
    <ng-template #noreviews>There are no reviews yet for this movie...</ng-template>
    <div class="create-review-button">
      <button (click)="toggleCreateReview()" *ngIf="!createReview && user">Create a Review</button>
    </div>
    <div style="margin-left:40%; margin-top:50px;" *ngIf="!user"><a routerLink="/login">Login</a> to create a review</div>
    <div *ngIf="movieService.createReview">
      <app-post-review (posted)="getMovie()" [idUser]="user[0].id" [idMovie]="movie.id"></app-post-review>

    </div>
  </div>
</div>
<app-footer></app-footer>



