<!----------- Footer ------------>
<footer class="footer-bs">
  <div class="row">
    <div class="col-md-3 footer-brand animated fadeInLeft">
      <img src="../../assets/home_images/logo2.png">
      <p>The movie website that you choose your own mood</p>
      <p>© 2019 Moodvies, All rights reserved</p>
    </div>
    <div class="col-md-4 footer-nav animated fadeInUp">
      <h4>Menu —</h4>
      <div class="col-md-6">
        <ul class="pages">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/moods">Moods</a></li>
          <li><a routerLink="/movies">Movies</a></li>
          <li><a routerLink="/movie-lists">Movie Lists</a></li>
        </ul>
      </div>

    </div>
    <div class="col-md-2 footer-social animated fadeInDown">
      <h4>Follow Us</h4>
      <ul>
        <li><a href="https://www.facebook.com/Moodvies-378433336223481">Facebook</a></li>
        <li><a href="https://twitter.com/Moodvies1">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">RSS</a></li>
      </ul>
    </div>
    <div class="col-md-3 footer-ns animated fadeInRight">
      <h4>Contact Us</h4>
      <p>If you feel like giving us feedback then do not hesitate!</p>
      <p>
      <div class="input-group">
        <input #email type="email" class="form-control" placeholder="Type your email..."><br>
        <input #content type="text" class="form-control" placeholder="Type your message...">
        <span class="input-group-btn">
                        <button (click)="postFeedback(email.value, content.value)" style="height:68px; width: 80px" class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                      </span>
      </div><!-- /input-group -->
    </div>
  </div>
</footer>
