<app-navbar></app-navbar>
<div class=container>

  <div class="moodSearch">
    <h1>What mood you wanna get by watching a movie??</h1>
    <p>press the button...</p>
    <button routerLink="/moods" class="btnLogo"></button>
  </div>

  <img class="main-img" src="../../assets/home_images/image_main.png">

  <div class="carousel-container">
    <span class="recommended-movies-header">Our recommendations</span>
    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="rec_movies_layer">
        <ngx-loading [show]="movieService.loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px'}"
                     [template]="loadingTemplate"></ngx-loading>
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <ul>
              <ng-container *ngFor="let movie of movies; let i = index" >
                <li *ngIf="i < 4" class="rec-image-container"><img routerLink="/movies/{{ movie.id }}" [attr.src]="movie.logo"><br>{{ getTitle(movie.title, movie.pub_year)[0] }}
                  <br>
                  <span class="director_name" *ngFor="let direct of movie.director_details">
                    {{ direct.name.substring(0,1) + '. ' + direct.l_name }}<span *ngIf="movie.director_details.length > 1">,</span>
                  </span></li>
              </ng-container>
            </ul>
          </div>
          <div class="item">
            <ul>
              <ng-container *ngFor="let movie of movies; let i = index" >
                <li *ngIf="i >= 4 && i < 8" class="rec-image-container"><img routerLink="/movies/{{ movie.id }}" [attr.src]="movie.logo"><br>{{ getTitle(movie.title, movie.pub_year)[0] }}<br>
                  <span class="director_name" *ngFor="let direct of movie.director_details">
                    {{ direct.name.substring(0,1) + '. ' + direct.l_name }}<span *ngIf="movie.director_details.length > 1">,</span>
                  </span></li>
              </ng-container>
            </ul>
          </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
        <!-- Carousel END-->
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

