.container {
  background-image: url("../../assets/movie-images/background_movie.png");
  background-size: auto;
}

.actor-container {
  padding: 20px 20px 100px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  margin: 100px 55px;
  background-image: url("../../assets/mood/mood_image_background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.99;
}

.actor-container>h2 {
  text-align: center;
  margin-bottom: 100px;
}

.actor-image {
  margin: 0 auto;
  height: 300px;
  width: 200px;
  display: block;
}

.actor-description {
  display: block;
  margin-top: 50px;
  margin-left: 90px;
  width: 80%;
  height: 100px;
  overflow: auto;
  overflow-wrap: break-word;
}

.actor-description-h {
  text-align: center;
  padding: 0;
  margin-top: 50px;
}

.movie-image {
  height: 190px;
  width: 130px;
}

.actor-date-of-birth {
  display: block;
  margin-top: 50px;
  height: 100px;
  text-align: center;
  font-weight: bold;
}

.movie-description {
  margin-top:-140px;
  margin-left:190px;
  position: absolute;
  width:300px;
  height:100px;
  overflow: auto;
}

.movie-name{
  margin-right:240px;
  margin-left: 50px;
  width:650px;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
}

.movie-name-pop {
  visibility: hidden;
  width: 500px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  left:0px;
  top:50px;
  position: absolute;
  z-index: 1;
  font-size:20px;
}

.movie-info {
  position:absolute; margin-left:600px;
  margin-top:-140px;
  width:18%;
}

.movie-name:hover .movie-name-pop{
  visibility: visible;
}

.my-pagination /deep/ ul.ngx-pagination {

  list-style-type: none !important;
  padding: 0 !important;
  text-align: center
}

.imdb {
  border-radius: 20px;
  padding:8px;
  margin-left: 900px;
  margin-top: -200px;
  margin-right: 0;
  position: absolute;
  color: black;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.imdb-img {
  height:40px;
  width: 50px;
}

.moodvies-img {
  height: 20px;
  width: 20px;
  margin-left:40px;
}

@media only screen and (max-width: 1200px) {
  .imdb {
    position: relative;
    margin-left: 590px;
    margin-top: 0;
  }

  .movie-name {
    margin-right: 0;
    width: auto;
  }
}

@media only screen and (max-width: 991px) {
  .actor-container {
    margin-left: 0;
    margin-right: 0;
  }
  .movie-info {
    position: relative;
    margin-top: 20px;
    width: 400px;
    margin-left: 0;
  }
  .imdb {
    width: 400px;
    margin-left: 0;
    margin-top: 0;
  }

  .movie-name {
    font-size: 25px;
    margin-left: 5px;
  }

  .actor-description {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 740px) {
  .movie-description {
    margin-top: 40px;
    position: relative;
    margin-left: 0;
  }

  .movie-image-container {
    width: 100%;
    text-align: center;
  }
  .movie-name-pop {
    margin-left: -140px;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
  }
  .movie-image {
    margin-right: 600px;
  }
}


@media only screen and (max-width: 600px) {
  .movie-image {
    height: 152px;
    width: 105px;
  }
  .movie-name {
    font-size: 20px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 500px) {
  .movie-description {
    margin-top: 60px;
    width: auto;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .actor-container {
    margin-left: 0;
    margin-right: 0;
  }
  .actor-description-h {
    font-size: 17px;
  }
  .actor-description {
    width: 200px;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 350px) {
  .movie-info {
    width: 200px;
  }
}
@media only screen and (max-width: 280px) {
  .movie-description {
    margin-top:100px;
  }
}
