<div class="profile-container">
  <div class="profile-option" [class.selected-option]="'prof' === selectedOption" (click)="onSelect('prof')">
    <h3>Profile</h3>
  </div>

  <div class="movie-list-option" [class.selected-option]="'m-list' === selectedOption" (click)="onSelect('m-list'); getUserMovieLists(user[0].id); toggleUpdateProfile(false)">
    <h3>Movie Lists</h3>
  </div>

  <div class="selected-option-cont" *ngIf="selectedOption === 'prof' && !togUpProfile">
    <h4>Profile</h4>
    <ul class="list-group mb-4">
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h5 class="my-0">Username </h5>
          <small *ngIf="user" class="text-muted">{{ user[0].username }}</small>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h5 class="my-0">E-mail </h5><span *ngIf="profileFieldsToUpdate.email">{{profileFieldsToUpdate.email}}</span>
          <small *ngIf="user" class="text-muted">{{ user[0].email }}</small>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h5 class="my-0">First Name </h5>
          <small *ngIf="user" class="text-muted">{{ user[0].first_name }}</small>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h5 class="my-0">Last Name </h5>
          <small *ngIf="user" class="text-muted">{{ user[0].last_name }}</small>
        </div>
      </li>
    </ul>
    <div class="update-profile">
      <button class="button" (click)="toggleUpdateProfile(true)">Update Profile</button>
    </div>
  </div>

  <div class="selected-option-cont" *ngIf="selectedOption === 'prof' && togUpProfile">
    <h4>Profile</h4>
    <div class="error-messages" *ngIf="messageService.messagesProfile.length > 0">
      <h4>Something went wrong..</h4>
      <h5>please check the fields that have a trouble below..</h5>
      <strong *ngFor="let mess of messageService.messagesProfile">{{ mess }}<br></strong>
      <br>
      <button (click)="messageService.clearMessagesProfile()">OK</button>
    </div>
    <form>
    <ul class="list-group mb-4">
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <div class="field-change" *ngIf="profileFieldsToUpdate.username">
            You changed your username from
            <span class="old-new-field-value">
              {{user[0].username}}
            </span>
            to
            <span class="old-new-field-value">
              {{profileFieldsToUpdate.username}}
            </span>
          </div>
          <h5 class="my-0">Username </h5>
          <label>
            <input #username [value]="user[0].username" (keyup)="keyUpFieldsToUpdate(user[0].username, username.value, 'username'); search(username.value, 'username')"
                   (focusout)="focusOutFieldsToUpdate(user[0].username, username.value, 'username'); search(username.value, 'username')" class="text-muted">
          </label>
          <ng-container *ngIf="username$ | async; let usernames">
            <span class="error-update-field" *ngIf="usernames.length > 0 && usernames[0].username !== user[0].username">
              Username: {{username.value}} is already taken.
            </span>
          </ng-container>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <div class="field-change" *ngIf="profileFieldsToUpdate.email">
            You changed your email from
            <span class="old-new-field-value">
              {{user[0].email}}
            </span>
            to
            <span class="old-new-field-value">
              {{profileFieldsToUpdate.email}}
            </span>
          </div>
          <h5 class="my-0">E-mail </h5>
          <label>
            <input type="email" #email value="{{ user[0].email }}" (focusout)="focusOutFieldsToUpdate(user[0].email, email.value, 'email'); search(email.value, 'email')"
                   (keyup)="keyUpFieldsToUpdate(user[0].email, email.value, 'email'); search(email.value, 'email')" class="text-muted" >
          </label>
          <ng-container *ngIf="email$ | async; let emails">
            <span class="error-update-field" *ngIf="emails.length > 0 && emails[0].email !== user[0].email">
              Email: {{email.value}} is already registered.
            </span>
          </ng-container>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <div class="field-change" *ngIf="profileFieldsToUpdate.firstName">
            You changed your first name from
            <span class="old-new-field-value">
              {{user[0].first_name}}
            </span>
            to
            <span class="old-new-field-value">
              {{profileFieldsToUpdate.firstName}}
            </span>
          </div>
          <h5 class="my-0">First Name</h5>
          <label>
            <input #firstName value="{{ user[0].first_name }}" (focusout)="focusOutFieldsToUpdate(user[0].first_name, firstName.value, 'firstName')"
                   (keyup)="keyUpFieldsToUpdate(user[0].first_name, firstName.value, 'firstName')" class="text-muted">
          </label>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <div class="field-change" *ngIf="profileFieldsToUpdate.lastName">
            You changed your last name from
            <span class="old-new-field-value">
              {{user[0].last_name}}
            </span>
            to
            <span class="old-new-field-value">
              {{profileFieldsToUpdate.lastName}}
            </span>
          </div>
          <h5 class="my-0">Last Name</h5>
          <label>
            <input #lastName value="{{ user[0].last_name }}" (focusout)="focusOutFieldsToUpdate(user[0].last_name, lastName.value, 'lastName')"
                   (keyup)="keyUpFieldsToUpdate(user[0].last_name, lastName.value, 'lastName')" class="text-muted" >
          </label>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <div>
          <h5 class="my-0">Password</h5>{{messageService.messagesProfile}}
          <button *ngIf="!changePass" class="button" (click)="toggleChangePassword(true)">Change Password</button>
          <div id="password-li">
            <label>
              <input type="password" #newPassword id="newPassword" placeholder="New Password"  class="text-muted" (keyup)="verifyNewPassword(newPassword.value, repeatPassword.value)"/>
              <br>
            </label>
            <br>
            <label>
              <input type="password" #repeatPassword placeholder="Repeat Password" class="text-muted" (keyup)="verifyNewPassword(newPassword.value, repeatPassword.value)">
              <span class="password-verify" *ngIf="passwordVerify === null else: pwVerify">
                Password should be at least 8 character long.
              </span>
              <ng-template #pwVerify>
                <ng-container *ngIf="passwordVerify else: pwVerifyFalse">
                  <span class="password-verify">
                    <span class="password-verify-true">
                      Passwords match <img class="check-image" src="../../assets/profile/Check_icon.png">
                    </span>
                  </span>
                </ng-container>
              </ng-template>
              <ng-template #pwVerifyFalse>
                <ng-container>
                  <span class="password-verify">
                    <span class="password-verify-false">
                      Passwords doesnt match <img class="check-image" src="../../assets/profile/X_icon.png">
                    </span>
                  </span>
                </ng-container>
              </ng-template>

            </label>
          </div>
          <button *ngIf="changePass" class="button" (click)="toggleChangePassword(false)">Cancel</button>
        </div>
      </li>
    </ul>

    </form>
    <div class="update-profile">
      <button class="button" *ngIf="(profileFieldsToUpdate | json) != '{}' && profService.isUsernameValidForUpdate && profService.isEmailValidForUpdate" (click)="UpdateProfileConfirm(true, username.value, email.value, newPassword.value, repeatPassword.value, firstName.value, lastName.value)">Save Changes</button>
      <button class="button" (click)="toggleUpdateProfile(false); toggleChangePassword(false)">Cancel Update</button>
    </div>
    <div class="update-profile-confirm" *ngIf="profileUpdateConfirmToggle">
      Are you sure you want to update the fields below?
      <br>
      <span>Type your password to confirm</span>
      <br>
      <input #passwordConfirm type="password" placeholder="Password">
      <br>
      <button class="button" (click)="passwordVerification(passwordConfirm.value)">Save Changes</button>
      <button class="button" (click)="UpdateProfileConfirmToggle(false)">Cancel</button>
    </div>
  </div>

  <div class="selected-option-cont" *ngIf="selectedOption === 'm-list'">
    <h4>Your Movie Lists</h4>
    <div class="empty-movie-list" *ngIf="uMovieLists && uMovieLists.length === 0; else movieListNotEmpty">
      You haven't created a movie list yet...
    </div>
    <ng-template #movieListNotEmpty>
      <ul class="list-group mb-4">
        <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let movieList of uMovieLists">
          <div>
            <h5 routerLink="/movie-lists/{{ movieList.idUserMovieList }}" class="my-0">{{ movieList.title }}</h5>
            <small class="text-muted">{{ movieList.movies.length }} movies in that list</small>
          </div>
          Created <small class="text-muted">{{movieList.created.substring(0,10)}} &nbsp; Time {{movieList.created.substring(11,19)}}</small>
          <button class="delete-button" (click)="confirmDelete(movieList)">Delete</button>

        </li>
      </ul>
      <div class="delete-cont" *ngIf="movieListToDelete">
        Are you sure you want to delete
        <br>
        {{ movieListToDelete.title }}
        <br><br>
        <button class="confirm-del-button" (click)="delete(movieListToDelete)">Yes</button> <button class="confirm-del-button" (click)="confirmDelete(null)">No</button>
      </div>
    </ng-template>


  </div>
</div>




