<app-navbar></app-navbar>

<div class="create-list-container" *ngIf="showListWindow">
  <div class="error-messages" *ngIf="messageService.messages.length > 0">
    <h4>Something went wrong..</h4>
    <h5>please check the fields that have a trouble below..</h5>
    <strong *ngFor="let mess of messageService.messages">{{ mess }}<br></strong>
    <br>
    <button (click)="messageService.clear()">OK</button>
  </div>
  <button class="btn-close-list-window"  (click)="listWindow(false)">Close</button>
  <app-post-user-movie-list></app-post-user-movie-list>
</div>

<div class=container>
  <br><br>
  <div class="mood_header">
    <h1>Lists of movies created by users</h1>
    <h3>You can always create your own.</h3>
  </div>
  <div class="movie-container">
    <h2>Movie Lists</h2>
    <div class="create-new-list-window">
      <button *ngIf="authService.isLoggedIn" (click)="listWindow(true)">Create New List</button>
      <span *ngIf="!authService.isLoggedIn">You must first <a routerLink="/login">login</a> to create a movie list</span>
    </div>
    <br><br>
    <br><br>

    <span style="text-align: center; margin: auto; display: block">Page</span>
    <br>
    <pagination-controls class="my-pagination" previousLabel="Prev" (pageChange)="p1 = $event" id="first"></pagination-controls>
    <div id="{{j.toString()+'a'}}"  class="mood" *ngFor="let umList of userMovieLists | paginate: { itemsPerPage: 5, currentPage: p1, id: 'first' }; let id of [1,2]; let j = index;" [attr.data-index]="j">
      <hr>
      <span class="mood_name" routerLink="/movie-lists/{{ umList.idUserMovieList }}">
        {{ umList.title }}
      </span>
      <span class="mood_description">
        {{ umList.description }}
      </span>
      <br>
      <span class="userList-username">
        from {{ umList.user_details.username }}
      </span>

      <span style="position:absolute; margin-left:450px; margin-top:50px; width:180px">Total number of movies in that list: <strong>{{ umList.movies.length }}</strong></span>
      <div class="mood_movies_container">
        <span  *ngFor="let movie of umList['movies_details'] | paginate: { itemsPerPage: 6, currentPage: p[j], id: j }; let i = index" [attr.data-index]="i" class="mood_movies">
         <img routerLink="/movies/{{movie.id}}" *ngIf="movie.logo != null" [attr.src]="movie.logo" class="movie_image">
          <div class="movie_info">
            <h4 style="color:black">{{ movie.title }}</h4>
            <br>
            Year Published: <strong>{{ movie.pub_year }}</strong>
            <br>
            Duration <strong>{{ movie.duration }} mins </strong>
            <br>
            Director: <strong *ngFor="let dir of movie.director_details; let b=index">{{dir.name + ' ' + dir.l_name}}<span *ngIf="movie.director_details.length - 1 != b">, </span></strong>
            <br>
            Genre: <strong *ngFor="let genre of movie.genre_details; let b=index">{{genre.genre}}<span *ngIf="movie.genre_details.length - 1 != b">, </span></strong>
            <br>
            Mood: <strong style="cursor:pointer" routerLink="/moods/{{mood.id}}" *ngFor="let mood of movie.mood_details; let b=index">{{mood.mood}}<span *ngIf="movie.mood_details.length - 1 != b">, </span></strong>
            <br>
            Description: <br>
            <span class="movie_description">
              <strong>{{ movie.description }}</strong>
          </span>
          </div>
          <br *ngIf="i === 2"><br *ngIf="i === 2">
        </span>
        <div style=" margin-top:15px; margin-right: 60px; margin-bottom:50px; font-size:10px;">
          <pagination-controls  [maxSize]="5" previousLabel="" nextLabel="" class="my-pagination" *ngIf="umList.movies.length > 6" style="text-align: center" (pageChange)="p[j] = $event" [id]="j">
          </pagination-controls>
        </div>
      </div>
      <hr>
    </div>
    <span style="text-align: center; margin: auto; display: block">Page</span>
    <br>
    <pagination-controls class="my-pagination" previousLabel="Prev" (pageChange)="p1 = $event" id="first"></pagination-controls>
    <div class="create-new-list-window">
      <button *ngIf="authService.isLoggedIn" (click)="listWindow(true)">Create New List</button>
      <span *ngIf="!authService.isLoggedIn">You must first <a routerLink="/login">login</a> to create a movie list</span>
    </div>
  </div>
</div>
<app-footer></app-footer>



