.container {
  background-image: url("../../assets/movie-images/background_movie.png");
  background-size: auto;
}

.mood-container {
  padding: 20px 20px 100px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  margin: 100px 55px;
  background-image: url("../../assets/mood/mood_image_background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.99;
}

.mood-container>h2 {
  text-align: center;
  margin-bottom: 100px;
}

.mood {
  padding-left: 50px;
  padding-bottom: 5px;
}

.mood:hover {

  background-size: cover;
  background-repeat: no-repeat;
  background-position: top   ;

}

.mood_description_h{
  text-align: center;
  padding: 0;
  margin-top: 50px;
}

.mood_name{
  position: absolute;
  margin-right:100px;
  margin-left: 50px;
  width:400px;
  font-size: 30px;
}

.mood_description {
  display: block;
  margin-top:50px;
  margin-left:90px;
  width:80%;
  height:100px;

}

.mood_movies_container {
  float:right;
  margin-right: 60px;
}
.mood_movies {
  margin-right: 5px;
}


.mood_image {
  margin: 0 auto;
  height: 300px;
  width: 200px;
  display: block;
}

.movie_image {
  height: 190px;
  width: 130px;
}
.imdb {
  border-radius: 20px;
  padding:8px;
  margin-left: 700px;
  margin-right: 50px;
  position: absolute;
  color: black;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.imdb-img {
  height:40px;
  width: 50px;
}

.moodvies-img {
  height: 20px;
  width: 20px;
  margin-left:40px;
}


.my-pagination /deep/ ul.ngx-pagination {

  list-style-type: none !important;
  padding: 0 !important;
  text-align: center;

}

.movie_description {
  margin-top:50px;
  margin-left:90px;
  position: absolute;
  width:300px;
  height:100px;
  overflow: auto;
}

.movie_name{
  position: absolute;
  margin-right:100px;
  margin-left: 50px;
  width:650px;
  font-size: 30px;
  cursor: pointer;
}
.movie_name_pop {
  visibility: hidden;
  width: 500px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  left:0px;
  top:50px;
  position: absolute;
  z-index: 1;
  font-size:20px;
}

.movie_name:hover .movie_name_pop{
  visibility: visible;
}

#first {
  display: block !important;
  margin-right:60px !important;
}
