<app-navbar></app-navbar>
<div class=container>
  <br><br>
  <div class="about-header">
    <h1> What we are all about</h1>
  </div>
  <div class="about-container">
      <h2>Information that might interest you about moodvies</h2>
      <h3 class="info-title">Why does this website exist?</h3>
      <p>
        Moodvies is an accessible website for everyone who wants to find a movie fitting not only their genre preferences,
        but also his mood preferences. This website uses the term mood as the emotions and feelings you get watching
        a specific movie wrapped in a single word. We are aware that there are other websites on the internet providing
        similar services to our website. Our idea though, is to carefully select movies that have really something to show
        you and start a community based on the selected medium-sized movie database that we will reinforce progressively.
      </p>
    <hr>
    <h3 class="info-title">How moodvies started and what is our future plans?</h3>
    <p>
      This website was inspired by other websites introducing the idea of categorize a movie based on the feelings that causes to the watcher.
      The motivation for building this website was pretty strong as I have a strong passion for good movies, I love building websites and I had
      the chance to combine these two throughout a project in my university.
      <br>
      I was searching constantly for good quality movies and I was getting lost inside the "good" popular movies. Besides that, I had different
      appetite for different taste of movies every other day making the searching part too exhausting. After a certain point I realised
      that there are a lot of low budget , unrecognised, underrated movies(foreign language movies most of the times) that needs the attention of
      good film watchers. And then, the idea came. So I decided to start building this website and give people who love good movies some ideas
      coming out of my and my movie experience and try to compress these ideas into small words that describes them, the moods.
      <br><br>
      My goal is to progressively update this small website, add features and more capabilities and create a strong community that will
      appreciate the work hours that i spend, give me feedback and suggestions and make Moodvies a reliable option for all king of
      selective movie watchers who seed the right Movie to get the right mood.
    </p>
    <hr>
    <h3 class="info-title">What exactly are your capabilities as a user in this website?</h3>
    <p>
      Moodvies provide a limited number of services for now. In the future though many updates and new services are yet to
      come. Guests won't be able to have the same privileges to our services as free registered members do.
      More specifically:
    </p>
      <ul>
        <li>
          As a guest or member you will be able to search movies from our selectively created database based on the title, the publication
          year of the movie desired and the mood(emotions and feelings you get) of the movie. You will also be able to have access to the
          information of the movie we provide such as description, actors, rating and user's reviews. Last but not least, you will have access
          movie lists created by users.
        </li>
        <li>
          As a member in this website you  have your profile with some basic information, you have the possibility of like or dislike
          a movie, make a review about a movie, like or dislike other users' reviews and most importantly create your own movie list
          and share it with the moodvies community.
        </li>
      </ul>
  </div>
</div>
<app-footer></app-footer>
