.container {
  background-image: url("../../assets/movie-images/background_movie.png");
  background-size: auto;
}

.about-container {
  margin-top:100px;
  padding:80px 80px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  margin-right: 55px;
  margin-left: 55px;
  background-image: url("../../assets/mood/mood_image_background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.99;

}

.about-container>h2 {
  text-align: center;
  margin-bottom: 100px;

}

.about-header>h1,h3{
  color:white;
  text-align: center;
  padding: 0;
  margin-top: 50px;
}

.info-title {
  text-align: left;
  color: black;
}


@media only screen and (max-width: 650px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .about-container {
    margin-left: 20px;
    margin-right: 20px;
  }
}
